<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MC.Threads.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MC.Threads.Properties.Settings>
            <setting name="ForceCheck" serializeAs="String">
                <value>h</value>
            </setting>
            <setting name="StatusLabel" serializeAs="String">
                <value>Checking..</value>
            </setting>
            <setting name="CounterLabel" serializeAs="String">
                <value>0</value>
            </setting>
        </MC.Threads.Properties.Settings>
    </userSettings>
</configuration>